<% include partials/head.ejs %>
<% include partials/header.ejs %>
<main role="main">
	<section>
		<form method="POST">
		 <input name="eput" type="email">
		 <button type="submit">Yeet</button>
		 
		</form>
		<p><%= content %></p>
	</section>
</main>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>